##################################
# .NET
##################################
bin/
obj/
out/

##################################
# ASP.NET Core
##################################
appsettings.Development.json
appsettings.*.local.json

##################################
# User Secrets
##################################
secrets.json
*.user
*.suo

##################################
# JetBrains Rider / IntelliJ
##################################
.idea/
*.iml

##################################
# Visual Studio (mesmo que você não use)
##################################
.vs/
*.csproj.user

##################################
# OS / Editor
##################################
.DS_Store
Thumbs.db
*.swp
*.tmp

##################################
# Logs
##################################
logs/
*.log

##################################
# Docker
##################################
**/docker-data/
**/pgdata/

##################################
# Build artifacts
##################################
*.dll
*.exe
*.pdb

##################################
# Coverage / Test
##################################
coverage/
TestResults/

##################################
# Environment files
##################################
.env
.env.*
